.main
 .main__header
  .main__header__mid
   .main__header__mid__logo
    = image_tag '',class: "main__header__mid__logo"

    .main__header__mid__bar
     %ul.main__header__mid__bar__ul
      %li.main__header__mid__bar__ul__l1
       会員情報
       .main__header__mid__bar__ul__l1__statu1
      %li.main__header__mid__bar__ul__l2
       電話番号認証
       .main__header__mid__bar__ul__l2__statu2
      %li.main__header__mid__bar__ul__l3
       完了
       .main__header__mid__bar__ul__l3__statu3

.sign-up
 .sign-up__done
 会員登録完了

 .thanks
 %p ありがとうございます。
 %p 会員登録が完了しました
