.main{
  text-align: center;
  height: 1500px;
  background-color: whitesmoke;
  &__header{
    display: flex;
    text-align: center;
    height: 8%;
    position: relative;
    &__mid{
      height: 30%;
      width: 15%;
      margin-left: 250px;
      display: inline-block;
      &__logo{
        &__image{
          margin: 40px auto;
        }
      }
      &__bar{
        width: 50%;
        padding-top: 40px;
        &__ul{
          font-size: 12px;
          &__l1{
            font-weight: 600;
            color: red;
            display: inline-block;
            margin-right: 30px;
            position: relative;
            &__statu1{
              width: 12px;
              height: 12px;
              margin: 8px auto 0;
              border-radius: 50%;
            }
          }
          &__l2{
            display: inline-block;
            margin-right: 30px;
            position: relative;
            &__statu2{
              background-color: red;
              height: 12px;
              width: 12px;
              margin: 8px;
              border-radius: 50%;
            }
            }
          &__l3{
            color: gray;
            display: inline-block;
            margin-right: 30px;
            position: relative;
            &__statu3{
              background: grey;
              height: 12px;
              width: 12px;
              margin: 8px auto 0;
              border-radius: 50%;
            }
          }
        }
        }
      }
    }

      &__top{
        height: 50%;
        &__member-register{
        height: 80%;
        width: 50%;
        margin: auto;
        background-color: white;
        &__1{
          height: 100px;
          font-weight: bold;
          margin: auto;
          text-align: center;
          line-height: 100px;
          border-bottom: gray solid 1px;
        }
        h2{
          font-size: 22px;
        }
      }
      &__form{
        height: 100%;
        width: 100%;
        margin: auto;
        &__content{
          height: 90%;
          max-width: 343px;
          margin: 0 auto;
          padding-top: 30px;
        &__field__reqire{
          background-color: red;
          display: inline-block;
          margin: 0 0 0 8px;
          padding: 2px 4px;
          border-radius: 2px;
          vertical-align: top;
          color: white;
          }
          &__text-box{

         } 
        }
      }
    }    
}


.user-footer{
  background-color: whitesmoke;
  text-align: center;
  &__center{
    width: 450px;
    height: 200px;
    margin: 0 auto;
    padding: 30px 0;
    .menu{
      display: flex;
      justify-content: space-around;
      list-style: none;
      padding: 0em;
      a{
        font-size: 12px;
      color: black;
      text-decoration: none;
      }
    }
  }
}