.header
  .header__body
    .header__body__main
      .header-icon
        .header
      .header-search
    .header__body__nav
      .nav-left
        .nav-left__category
        .nav-left__brand
      .nav-right
        .nav-right__login
        .nav-right__new