%li.top-items__list
  = link_to '#', class: "top-items__list__link" do
    %figure.top-items__list__link__image
      = image_tag "pict/sabaimage.png"
    .top-items__list__link__body
      %h3.top-items__list__link__body__name
        product3
      .top-items__list__link__body__explanation
        %ul
          %li
            30000円
          %li
            %i.fas.fa-star
            0
        %p
          (税込) 