ここにヘッダー
.wrapper-item
 .pa
  .pa__confirm
   .pa__confirm__box
    購入内容の確認
  .pa__item
   .pa__item__box
    .pa__item__box__left
     ここに画像を載せる
    .pa__item__box__right
     .pa__item__box__right--name
      商品名
     .pa__item__box__right__money
      .pa__item__box__right__money--price
       ¥1,500,000
      .pa__item__box__right__money--tax
       税込　送料込み
  .pa__trade
   .pa__trade__money
    .pa__trade__money--in
     金額
    .pa__trade__money--total
     ここに金額を表示
   .pa__trade__pay
    .pa__trade__pay__how
     .pa__trade__pay__how--in
      支払方法
     .pa__trade__pay__how--select
      =link_to 'カード選択','#'
    .pa__trade__pay__card
     .pa__trade__pay__card--in
      使用するカード
     .pa__trade__pay__card__credit
      .pa__trade__pay__card__credit--number
       .pa__trade__pay__card__credit--number--in
        カード番号
        .pa__trade__pay__card__credit--number--out
         ここにカード番号を表示
      .pa__trade__pay__card__credit--limit
       .pa__trade__pay__card__credit--limit
        有効期限
       .pa__trade__pay__card__credit--limit
        ここに有効期限を表示
   .pa__trade__deliver
    .pa__trade__deliver__box
     .pa__trade__deliver__box__toward
      .pa__trade__deliver__box__toward--in
       配送先
      .pa__trade__deliver__box__toward--change
       変更する
     .pa__trade__deliver__box--place1
      住所1
     .pa__trade__deliver__box--place2
      住所2
     .pa__trade__deliver__box--place3
      住所3
     .pa__trade__deliver__box--place4
      住所4
     .pa__trade__deliver__box--name
      氏名
  .pa__go
   .pa__go--button
    %button.gobutton 購入する