.wrapper-item{
  background-color: #EEEEEE;
  padding: 20px 0;
}
.ex{
  background-color: white;
  width: 700px;
  margin:0 auto;
  font-size: 14px;
  &__image{
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    &--title{
      display: flex;
      margin: 20px 0 10px 0;
    }
    &--photo{
      margin: 16px 0;
    }
    &--upload{
      flex-wrap: wrap;
      display: flex;
    }
  }
  &__intro{
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    &__name{
      display: flex;
      margin: 20px 0 10px 0;
      &--exp{
      }
    }
    &__exp--exp{
      display: flex;
      margin: 20px 0 10px 0;
    }
    &__strcount{
      float: right;
    }
  }
  &__detail{
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    &--first{
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__category{
      display: flex;
      margin: 20px 0 10px 0;

      &__box{
        
        &--select{
          margin-bottom: 10px;
        }
      }
    }
    &__brand{
      display: flex;
      margin: 20px 0 10px 0;
    }
    &__status{
      display: flex;
      margin: 20px 0 10px 0;
    }
  }
  &__deliver{
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    &--first{
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__fee{
      display: flex;
      margin: 20px 0 10px 0;
    }
    &__land{
      display: flex;
      margin: 20px 0 10px 0;
    }
    &__date{
      display: flex;
      margin: 20px 0 10px 0;
    }
  }
  &__price{
    margin-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: black;
    padding: 40px;
    line-height: 45px;
    &--in{
      font-size: 16px;
      margin-bottom: 15px;
    }
    &__money{
      display: flex;
      margin: 20px 0 10px 0;
      justify-content: space-between;
      &__left{
        display: flex;
        height: 20px;
        line-height: 20px;
        margin:auto 0;
      }
      &--pay{
        display: flex;
      }
    }
    &__fee{
      display: flex;
      justify-content: space-between;
      margin: 20px 0 10px 0;
    }
    &__benefit{
      display: flex;
      justify-content: space-between;
      margin: 20px 0 10px 0;
    }
  }
  &__go{
    &__menu{
      text-align: center;
      &--done{
        margin: 0 auto 20px;
        width: 350px;
        height: 50px;
      }
      &--back{
        width: 350px;
        margin: 0 auto 20px;
      }
    }
  }
}


.de{
  background-color: white;
  width: 700px;
  padding-top:20px;
  margin:0 auto 20px;
  font-size: 14px;
  &__name{
    text-align: center;
    font-size: 24px;
  }
  &__image{
    width: 560px;
    height: 350px;
    margin: 0 auto;
  }
  &__image-list{
    margin: 0 70px;
    &__box{
      display: flex;
      height: 90px;
      width: 100px;
      display: contents;
      }
  }
  &__price--price{
    font-size: 46px;
    text-align: center;
  }
  &__price__money{
    justify-content: center;
    display: flex;
    font-size: 14px;
  }
  &__price__edit{
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    a{
      text-decoration: none;
      color: white;
      background-color: #3ccace;
      padding: 10px 255px;
    }
  }
  &__price__delete{
    text-align: center;
    font-size: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    a{
    text-decoration: none;
    color: white;
    background-color: lightgray;
    padding: 10px 255px;
    }
  }
  &__parchase{
    text-decoration: none;
    font-size: 24px;
    height: 60px;
    color: white;
    text-align: center;
    a{
      text-decoration: none;
      color: white;
    }

  }
  &__exp{
    margin: 10px 70PX;
    font-size: 18px;
    min-height: 80px;
  }
  &__table{
    margin: 10px 70px 0px;
    font-size: 14px;
    border-collapse: collapse;
    padding-bottom: 30px;

    .table__category--td {
      
      a {
        text-decoration: none;
        color:#0000ee;
      }
    }


  }
  &__good--button{
    width: 120px;
    height: 35px;
    border-radius: 15px;
    border-color: #3CCACE;
    font-size: 15px;
    margin: 0 70px 20px;
  }
}

.comment{
  background-color: white;
  width: 700px;
  margin: 24px 40px 40px;
  margin:0 auto;
  font-size: 14px;
  &__form{
    margin: 0 35px;
    padding-top: 20px;
  }
  &__caution{
    margin: 20px 35px;
    background-color: #f8f8f8;
  }
  &__go{
    margin: 0 175px;
    padding-bottom: 20px;
  }
}

.item-front-and-back{
  list-style: none;
  width: 700px;
  margin: 0 auto 20px;
  display: flex;
  color: #3ccace;
  justify-content: space-between;
  .fas.fa-chevron-left{
    color: #3ccace;
  }
  .fas.fa-chevron-right{
    color: #3ccace;
  }
}


.pa{
  background-color: white;
  width: 700px;
  margin:0 auto;
  font-size: 14px;
  &__confirm{
    font-size: 22px;
    padding: 32px;
    border-bottom: 1px solid #dedede;
    &__box{
      text-align: center;
    }
  }
  &__item{
    padding:16px 32px;
    width: 360px;
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #dedede;
    &__box{
      display: flex;
      margin: 0 auto;
      &__left{
        width: 80px;
        height: 80px;
      }
      &__right{
        margin-left: 16px;
        width: 243px;
        &--name{
          padding-bottom: 8px;
        }
        &__money{
          display: flex;
          height: 51px;
          line-height: 51px;
          &--price{
            margin-right: 30px;
          }
        }
      }
    }
  }
  &__trade{
    max-width: 343px;
    margin: 0 auto;
    &__money{
      border-bottom: 1px solid #dedede;
      padding: 20px 10px;
      display: flex;
      justify-content: space-between;
      &--in{
        font-size: 18px;
        line-height: 45px;
      }
      &--total{
        font-size: 30px;
        text-align: right;
    }
    }
    &__pay{
      border-bottom: 1px solid #dedede;
      padding: 20px 10px;
      &__how{
        display: flex;
        justify-content: space-between; 
        margin: 0 0 10px;
        font-size: 16px; 
      }
    }
    &__deliver{
      border-bottom: 1px solid #dedede;
      padding: 20px 10px;
      &__box{
      &__toward{
        display: flex;
        justify-content: space-between; 
        margin: 0 0 10px;
        font-size: 16px;
      }
      }
    }
  }
  &__go{
    border-bottom: 1px solid #dedede;
    padding: 20px 10px;
    &--button{
      width: 350px;
      margin: 0 auto;
    }
  }

}

.btn {
  display: block;
}
























.none{
  display: none;
}
.must{
  background-color: red;
  color: white;
  margin-left: 8px;
}
.free{
  background-color: gray;
  color: white;
}
.gobutton{
  background-color: red;
  width: 350px;
  height: 50px;
  font-size:18px;
  color:white;
  border-radius: 8px;
}
.cantgobutton{
  background-color: gray;
  width: 350px;
  height: 50px;
  font-size:18px;
  color:white;
  border-radius: 8px;
  text-align: center;
  line-height: 50px;
}
.gobuy{
  margin: auto;
  line-height: 50px;
  background-color: red;
  width: 560px;
  height: 50px;
  font-size:18px;
  color:white;
  border-radius: 8px;
}

.backbutton{
  width: 350px;
  margin: 0 auto 20px;
  padding: 24px 40px 40px;
}
.text-form{
  height: 40px;
  width: 620px;
  font-size: 16px;
  border-radius: 5px;

}
.label{
  width: 620px;
  height: 150px;
}
.text-duce{
  height: 120px;
  width: 620px;
  font-size: 16px;
  border-radius: 5px;
}
.text-money{
  height: 40px;
  width: 280px;
  font-size: 16px;
  border-radius: 5px;
}

.parchase{
  width: 620px;
  text-align: center;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: white;
  background-color: red;
}
tr{
  min-height: 40px;
}
th{
  border:1px solid #dedede;
  width: 155px;
  padding: 15px;
  background-color: #eee;
}
td{
  border:1px solid #dedede;
  width: 465px;
  padding: 15px;
}
.text-introduce{
  height: 120px;
  width: 620px;
  font-size: 16px;
}
.commentbutton{
  background-color: #3ccace;
  width: 350px;
  height: 50px;
  font-size:18px;
  color:white;
  border-radius: 8px;
  border: #3ccace;
}
.arround_red{
  border-color: red;
    }
.bemust{
  color:red;
}
.over{
  color:red;
}
.select{
height: 48px;
width: 100%;
}

.main-image{
height:30px;
width: 360px;
line-height: 30px;
font-size: 1rem;
text-align: center;
background-color:#0000ff;
color: white;
cursor: pointer;
border-radius: 5px;
}
.sub-image{
  height: 30px;
  width: 120px;
  line-height: 30px;
  font-size: 1rem;
  text-align: center;
  background-color: #d9e5ff;
  cursor: pointer;
  border-radius: 5px;
  display: -webkit-box;
  margin-top: 10px;}

.add{
  padding-right: 5px;
  background-color: #ccffff;
  color: black;
  font-size: 15px;
  border-radius: 5px;
}

.image-menu{
  width: 120px;
  flex-wrap: wrap;
}