.logout{
  width: 862px;
  height: 179px;
  margin: 0;
  text-align: center;
  float: right;
  padding-right: 7rem;
  &__content{
    &__1{
      padding: 85px;
      background: white;
      &--inner{
      }
    }
  }
  &__single--container{
    margin: 0 auto;
    width: 320px;
  }
  &__single--content{
    padding: 10px;
    background: #3ccace;
    &--btn{
      text-decoration: none;
      text-align: center;
      color: white;
    }
  }
}