.logout{
  width: 862px;
  height: 179px;
  margin: 0;
  text-align: center;
  float: right;
  padding-right: 7rem;
  &__content{
    padding: 85px;
    background: white;

    &__container{
      margin: 0 auto;
      width: 320px;
      height: 40px;
  
      &--btn{
        display: inline-block;
        width: 100%;
        padding: 10px;
        background: #3ccace; 
        text-decoration: none;
        text-align: center;
        color: white;
      }
    }
  }
}