.pa__bottom {
  padding: 50px 32px;
  margin: 0;
  display: flex;
  justify-content: center;
  &__button {
    display: block;
    text-align: center;
    background-color: #3ccace;
    padding: 13px;
    width: 200px;
    height: 50px;
    font-size:18px;
    color:white;
    border-radius: 30px;
    border: #3ccace;
    text-decoration: none;
    font-weight: bold;
  }
}